@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
html {
  font-family: "Bonheur Royale";
  font-size: 35px;
  background-color: rgba(23, 82, 23, 0.658);
}
.favorites-icon {
  justify-content: right;
  padding: 10%;
}
.main {
  width: fit-content;
  margin: 100px 100px 100px 100px;
  padding: 10%;
  display: inline-flex;
  justify-content: center;
  background-image: url(img/bowl.jpg);
  background-repeat: no-repeat;
  background-size: cover;


}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
}
.logo {
  text-align: center;
  font-size: 4rem;
  color: rgb(13, 58, 25);
  margin-bottom: 30px;
  padding: 4%;
}
form {
  width: 100%;
  max-width: 250px;
  max-height: 25px;
  background-color: rgb(222, 241, 222);

  border-radius: 100px;
  display: inline-flex;
}
form input {
  width: 90%;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
}

.below {
  font-size: 30px;
}
.flex-column {
  list-style-type: none;
}
.word-fav {
  font-weight: bolder;
  display: inline-flex;
  justify-content: right;
  margin-left: none;
  padding-left: none;
}
.container {
  height: fit-content;

  justify-content: right;
}
.welcome-area {
  text-align: center;
  justify-content: center;
  padding-top: 70%;
  color:rgb(30, 88, 22);
  }
 .welcome{
     padding-bottom: 4%;
 }
.entry {
  text-align: left;
  padding-right: 20rem;
  margin: none;
  padding-left: none;
}
.name {
  font-size: 30px;
  justify-content: right;
}
.name-question {
  font-weight: bolder;
  font-size: 40px;
  padding-right: 50%;
}
.navigation {
  display: inline-flex;
  padding-left: 3%;
  padding-top: 15%;
  margin: 0;
}
.main {
  padding-top: 0;
}
.favorites-icon {
  justify-content: right;
}
.fav-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(231, 213, 48, 0.925);
}
.fav-button:hover {
  background: rgb(72, 131, 99);
}
.navigation {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
ion-icon {
  font-size: 20px;
  padding: 10%;
  cursor: pointer;
  align-items: center;
}
.nav-personal {
  display: flex;
  height: 220px;
  width: 210px;
  background-color: rgba(237, 241, 198, 0.904);
  cursor: pointer;
  justify-content: left;
}
.nav-personal ion-icon {
  font-size: 300px;
  text-align: center;
  padding: 0%;
  margin-right: 15px;
}
.book-icon ion-icon {
  font-size: 85px;
  padding-top: 90%;
  padding-right: 2px;
}
.container {
  text-align: right;
  display: inline-flexbox;
  padding: 15%;
  width: max-content;
}
.fav-button {
  display: inline-flex;
  justify-content: right;
  padding-right: 0%;
}
.recipes-tabs {
  font-size: 35px;
  padding: 5%;
  font-family: "Bonheur Royale";
  font-weight: bolder;
  text-align: center;
  color: rgba(165, 42, 42, 0.438);
}
