@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
html {
  font-family: "Bonheur Royale";
  font-size: 35px;
  background-color: rgb(150, 150, 233);
}
.favorites-icon{
    justify-content: right;
}
.main{
    margin: 300px 300px;
    background-color: whitesmoke;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
}
.logo{
    text-align: center;
    font-size: 4rem;
    color: pink;
    margin-bottom: 30px;
}
form{
    width: 100%;
    max-width:250px ;
    max-height: 20px;
    background-color: pink;
    margin: 20px auto;
    border-radius: 4px;
    display: inline-flex;
}
form input{
    width: 90%;
    background-color: transparent;
    padding: 10px;
  outline: none;
    border:none;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    }

.below {
  font-size: 30px;
}
.flex-column {
  list-style-type: none;
}
.word-fav{
  font-weight: bolder;
  padding-top:0;
  display: inline-flex;
}
.container {
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}
.welcome-area {
  text-align: center;

}
.entry{
    text-align: left;
   padding-right:20rem ; 
   margin: none;
   padding-left: none;
}
.name{
    font-size: 30px;
}
.name-question{
    font-weight: bolder;
    font-size: 40px;
   
    padding-right: 20%;
}
.navigation {
  padding: 10%;
  margin: 0;
}
.main {
  padding-top: 0;

}
.favorites-icon {
  justify-content: right;

}
.button {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(150, 150, 233);
}
.button:hover {
  background: yellow;
}
.navigation {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
ion-icon {
  font-size:20px;
  padding:10%;
  cursor: pointer;
  align-items: center;
}
.nav-personal {
  display: inline-flex;
  height: 220px;
  width: 210px;
  background-color: blue;
  cursor: pointer;
  align-content: left;
}
.nav-personal ion-icon{
    font-size: 300px;
    text-align:center;
    padding:0%;
    margin-right: 15px;
}
.glist ion-icon{
    font-size: 90px;
    padding:10%;
    padding-top: 20%;
    margin:0;
}
.container{
    text-align: right;
    display:inline-block;
   padding: 15%;
}

.recipes-tabs {
  font-size: 30px;
font-family:"Bonheur Royale" ;
font-weight: bolder;
  text-align: center;
}
