html {
    font-family: "IM Fell English SC";
 background-color: rgb(95, 62, 18);
 background-image: url(img/yee2.jpg);
 background-repeat:repeat;
 background-position: center;
 background-size:cover;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
}
#monthAndYearTitle {
    float: right;
    color: white;
    background-color: olive;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
    height: 40px;
    width: 30%;
    text-align: center;
    margin-top: 90px;
    margin-right: -400px;
}

.monthlyView {
    float: right;
    color: rgb(6, 6, 6);
    border-style: solid;
    border-spacing: 20px;
    border-collapse: separate;
    text-align: center;
    background-color: white;
    padding: 30px;
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 175px;
    margin-right: -525px;
    display: table;
}

th {
    text-align: center;
    color: black;
    font-style: italic;
    font-weight: bold;
}
.days {
    border-style: solid;
    color: black;
}

#days :hover {
    background-color: rgb(244, 255, 87);
    border: 2px solid #e6ee08;
    cursor: pointer;
}
.yeet{
    background-color: olive;
}
.chooseMonth {
    color: rgb(3, 3, 3);
    float: right;
    background-color: rgb(222, 241, 222);
    margin-top: 5%;
}

#month {
    color: snow;
    background-color: rgb(110, 76, 51);
}

#year {
    color: snow;
    background-color: rgb(110, 76, 51);
}

.nextMonth {
    color: snow;
    background-color: olive;
    margin-top: 75px;
    float: right;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    margin-right: -325px;
    margin-top: 145px;
}

.lastMonth {
    color: snow;
    background-color: olive;
    margin-top: 75px;
    float: right;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    margin-right: 150px;
    margin-top: 145px;
}


/* css for meal tracker */

.checklist {
    position: relative;
    background: #fff;
    width: 50%;
    color: #fff;
}

h1 {
    color: #fff;
}


/*styling for the checklist title*/

.checklist h2 {
    background: olive;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 40px;
}


/* Sets
up the checklist */

.checklist ul {
    position: relative;
    padding: 20px;
    color: #fff;
}


/* adds borders to the checklist */

.checklist ul li {
    position: relative;
    list-style: none;
    padding: 15px 0;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.checklist ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: left;
    cursor: pointer;
}


/* Hides input checkbox that is the default of CSS */

.checklist ul li label input {
    visibility: hidden;
    appearance: none;
}

.checklist ul li label p {
    position: absolute;
}

.checklist ul li label span {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* pseudo class for the label
*/

.checklist ul li label span:before {
    content: '';
    position: absolute;
    top: 5px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-40deg)
}


/* Turns checkbox green when clicked */

.checklist ul li label input:checked~span {
    background: olivedrab;
    border: 1px solid olivedrab;
}


/* Unchecked checkbox design */

.checklist ul li label input:checked~span::before {
    border-left: 2px solid#ccc;
    border-bottom: 2px solid #ccc;
}

button {
    background-color: olivedrab;
    color: #fff;
}
footer {
    border-radius: 10%;
    border-color: #86371f8a;
    border-style: groove;
    border-width: 20px;
    width: 150px;
    height: 25px;
    background: rgba(219, 93, 43, 0.308);
    position: fixed;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #0c1609ad;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    bottom: 0px;
}

.goHome {
    width: 100px;
    height: max-content;
}

footer ion-icon {
    justify-content: right;
    align-items: right;
    font-size: 30px;
}